<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Interval WatchKit App (Complication).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Interval WatchKit App (Glance).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Interval WatchKit App (Notification).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Interval WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Interval.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>IntervalDataManager.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>IntervalKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DE002C731CAF23FE00FE65CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE2317821CAF17D1007D605C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE23178B1CAF17D1007D605C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE2317B11CAF1F81007D605C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEF28CED1CADCDDE00D50DC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEF28D011CADCDDE00D50DC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEF28D0C1CADCDDE00D50DC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DEF28D151CADCDDE00D50DC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
